doctype html
html
	head
		meta(charset='UTF-8')
		title= streams[0].title + ' - ' + titleSuffix
		link(rel='stylesheet', href='/style.css')
		if !lock
			script document.write('<script type="text/javascript">/*');
			meta(http-equiv='refresh',content=interval + '; url=/?previous[]=' + streams[0].url)
		script /**/ interval=#{interval}*1000; titleSuffix='#{titleSuffix.replace(/'/g, "\\'")}';
	body
		#streams
			each stream in streams
				.stream(data-url=stream.url, data-title=stream.title)!= stream.code
		#infowrap: a(href='/streams',title='Click to choose a specific channel.')#info= streams[0].title
		#listwrap.hidden
			#list
				a#lock(href='#',title='Lock in the current channel(s).') &nbsp;
				a#close(href='#',title='Close the list.') X
				#layout
					a.layout1(href='/',title='Display one stream.',data-count=1) &nbsp;
					a.layout2x2(href='/',title='Display four streams on a 2x2 grid.',data-count=4) &nbsp;
					a.layout3x3(href='/',title='Display nine streams on a 3x3 grid.',data-count=9) &nbsp;
				a#random(href='/',title='Pick a random channel every ' + interval + ' seconds.') Random
				#stream-names
				#powered Powered by 
					a(href='https://github.com/Bloutiouf/Rollstreams', target='_blank') Rollstreams
		script(src='http://code.jquery.com/jquery-1.9.1.js')
		script(src='/script.js')
